* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0D1117;
}

.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recover-container {
    width: 40vw;
    height: 60vh;
    background-color: #161B22;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.recover-container > h1 {
    color: #FF7417;
    margin: 10px 0px;
}

.recover-container > p {
    text-align: center;
    font-size: 1.2em;
}

.recover-container > input {
    display: block;
    width: 60%;
    margin: 10px 0px;
    border: none;
    border-radius: 5px;
    padding: 15px;
    background:#D9D9D9;
    font-size: 12px;
}

.btn-recover {
    width: 30%;
    padding: 10px 0px;
    margin: 10px 0px;
    border: none;
    border-radius:  5px;
    background:#FF7417;
    font-weight: 600;
    color:#FFFFFF;
    cursor: pointer;
}

.recover-container > p , a{
    color: #D9D9D9; 
    text-decoration-color: #FF7417;
}

@media (max-width: 480px) {
    .recover-container {
        height: 80vh;
        width: 90vw;
        justify-content: space-evenly;
    } 

    h1 {
        font-size: 1.5em;
    }

    .recover-container > input {
        width: 85%;  
    }

    .btn-recover {
        width: 50%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .recover-container {
        height: 85vh;
        width: 65vw;
        justify-content: space-evenly;
    } 

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1.1em;
    }
}